#body {
	background-color: #59a7b3;
}

#inputContainer {
  position: absolute;
	left: 10px;
	float: left;
  width: auto;
  padding-left: 170px;
  padding-bottom: 2px;
  padding-top: 1px;
  background-color: #b36559;
  border-style: solid;
  border-color: #b36559;
}

#buttonContainer {
	float: left;
}

.in {
	margin-left: -168px;
  /* margin-top: 0.2em; */
	margin-bottom: auto;
	float: left;
}

.box {
	border: ridge ##b36559;
  background-color: #e9e9ed;
}

.box:hover {
	border: ridge #59a7b3;
	filter: invert(90%);
  background-color: #d0d0d7;
}

.box:focus {
  outline: none;
}

#thing {
  width: 382px;
  margin-top: calc(6em + 3px);
  margin-left: 2px;
  border: ridge #b36559;
}

#thing:hover {
	filter: invert(90%);
	border: ridge #4C9AA6;
}